button {
  border: none;
  border-radius: 5px 5px;
}
.space {
  width: 90%;
  height: 500px;
  margin: auto;
  /* border: 1px solid red; */
}

.container {
  position: relative;
  width: 80%;
  height: 700px;
  border: 1px solid #000;
  margin: 2rem auto 0 auto;
}
.fixed-btn {
  position: absolute;
  top: 46%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding: 25px 65px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}
.move-btn {
  position: absolute;
  padding: 25px 65px;
  background-color: #e74c3c;
  color: #fff;
  cursor: pointer;
}
h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5rem;
  padding: 0 1rem;
}
